@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-anesthetic-syringe:before { content: "\f100"; }
.flaticon-dental-chair:before { content: "\f101"; }
.flaticon-dental-chair-1:before { content: "\f102"; }
.flaticon-dental-drill:before { content: "\f103"; }
.flaticon-dental-tool:before { content: "\f104"; }
.flaticon-healthy:before { content: "\f105"; }
.flaticon-interface:before { content: "\f106"; }
.flaticon-medal:before { content: "\f107"; }
.flaticon-medal-1:before { content: "\f108"; }
.flaticon-medical:before { content: "\f109"; }
.flaticon-medical-1:before { content: "\f10a"; }
.flaticon-medical-2:before { content: "\f10b"; }
.flaticon-medical-3:before { content: "\f10c"; }
.flaticon-medical-4:before { content: "\f10d"; }
.flaticon-navigation-arrow:before { content: "\f10e"; }
.flaticon-office-chair:before { content: "\f10f"; }
.flaticon-people:before { content: "\f110"; }
.flaticon-people-1:before { content: "\f111"; }
.flaticon-tool:before { content: "\f112"; }